# ---------------------------------------------------------------------------- #
# Copyright (c) 2023-2024 SG Wireless - All Rights Reserved
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files(the “Software”), to deal
# in the Software without restriction, including without limitation the rights
# to use,  copy,  modify,  merge, publish, distribute, sublicense, and/or sell
# copies  of  the  Software,  and  to  permit  persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED “AS IS”,  WITHOUT WARRANTY OF ANY KIND,  EXPRESS OR
# IMPLIED,  INCLUDING BUT NOT LIMITED TO  THE  WARRANTIES  OF  MERCHANTABILITY
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL THE
# AUTHORS  OR  COPYRIGHT  HOLDERS  BE  LIABLE FOR ANY CLAIM,  DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN  CONNECTION WITH  THE SOFTWARE OR  THE USE OR OTHER DEALINGS IN
# THE SOFTWARE.
#
# Author    Ahmed Sabry (SG Wireless)
#
# Desc      LoRa Stack related configs
# ---------------------------------------------------------------------------- #

config LORA_LCT_MODE
    bool "LoRa Certification test mode"
    default n
    help
        LoRa WAN certification mode options.

config LORA_LCT_CONTROL_API
    bool "Enable LoRa Certification mode control API lora.certification_mode()"
    default y
    depends on LORA_LCT_MODE
    help
        This will activate the lora certification mode controls such as:
        lora.certification_mode( True / False ). This is useful interface during
        development and bug fixing flow.

config LORA_LCT_INIT_DEVICE_INTO_CERTIFICATION_MODE_ONCE
    bool "Set the device into certification mode once for ATH"
    default n
    depends on LORA_LCT_MODE
    help
        This will prepare the device for certification test. it will will enter
        automatically into certification mode. Once the test passed and the port
        224 is closed by the TCL, it will not be opened again.
        This option is targeted the devices that are prepared to be sent to ATH
        for certification.
        For mass production the test mode will permanently closed.

config LORA_LCT_OPERATE_AFTER_RESET
    bool "Init LoRa stack after reset if LCT mode is enabled"
    default n
    depends on LORA_LCT_MODE
    help
        It initialize LoRa stack after system reset if the current operating
        mode is LCT mode.

menu "LoRa WAN configurations"

    config LORA_DUTY_CYCLE_APP_DEFAULT_DURATION_MS
        int "application default duty cycle (msec)"
        default 10000
        help
            The default duty cycle for the running application unless it is
            configured by the user using the API lora.duty_set( xxx )

    config LORA_WAN_TX_BUFFERS_MEM_SPACE_SIZE
        int "LoRa-WAN TX traffic buffers memory space size (KB)"
        default 6
        help
            The default size of the LoRa-WAN data traffic buffers memory space
            in KB which are used to reside Tx messages until it gets serviced by
            either the LoRa-stack.

    config LORA_WAN_RX_BUFFERS_MEM_SPACE_SIZE
        int "LoRa-WAN RX traffic buffers memory space size (KB)"
        default 2
        help
            The default size of the LoRa-WAN data traffic buffers memory space
            in KB which are used to reside RX messages until it gets serviced by
            the user application level.

    config LORA_WAN_MAX_APP_LAYER_USED_PORTS
        int "LoRa-WAN maximum used application ports"
        range 1 250
        default 10
        help
            The maximum number of LoRa ports the application will utilize.
            For example if the application will be using only ports (1, 5, 20),
            then it is better to configure the maximum used ports to 3.

    menu "RX Window Calibration Defaults"
        config LORA_WAN_DEFAULT_SYSTEM_MAX_RX_ERROR_MS
            int "LoRa-WAN maximum system RX window error"
            default 20
            help
                This is the maximum error in msec that can affects the RX window
                calibration.
        config LORA_WAN_DEFAULT_RX_WIN_CAL_FINE_TUNE_ENABLE
            bool "Calibration fine control parameters enable"
            default y
            help
                This enables the newer introduced calibration fine tunning
                parameters such as time-shift and window timer period extention
                for RX windows.
        config LORA_WAN_DEFAULT_RX_WIN_CAL_CTRL_FINE_TUNE_TIME_SHIFT
            int "Calibration fine control parameter time-shift"
            default 20
            depends on LORA_WAN_DEFAULT_RX_WIN_CAL_FINE_TUNE_ENABLE
            help
                This is an RX window time-shift. It ensures the window starting
                time will not occur before the exact window starting time minus
                this time-shift.
        config LORA_WAN_DEFAULT_RX_WIN_CAL_CTRL_FINE_TUNE_TIME_EXTENTION
            int "Calibration fine control parameter time-eextension"
            default 30
            depends on LORA_WAN_DEFAULT_RX_WIN_CAL_FINE_TUNE_ENABLE
            help
                This is an RX window time-extention. It ensures the window timer
                that determine the RX window duration will be extended by the
                amount specified by this time-extension parameter.
    endmenu
endmenu

# --- end of file ------------------------------------------------------------ #
