build/
build-*/
.vscode/
output.txt
*.code-workspace
*.DS_Store
*build-unittest*
.cproject
*.lock
.project
.settings
__pycache__
**/modified_sources
test-results
defaults.sdk
src/platforms/F1/managed_components/
secure_boot_signing_key.pem