[submodule "ext/micropython"]
	path = ext/micropython
	url = https://github.com/micropython/micropython.git
[submodule "ext/esp-idf"]
	path = ext/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "ext/LoRaMac-node"]
	path = ext/LoRaMac-node
	url = https://github.com/Lora-net/LoRaMac-node.git
