[submodule "ext/micropython"]
	path = ext/micropython
	url = https://github.com/micropython/micropython.git
[submodule "ext/esp-idf"]
	path = ext/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "ext/LoRaMac-node"]
	path = ext/LoRaMac-node
	url = https://github.com/Lora-net/LoRaMac-node.git
[submodule "ext/ESP32-NeoPixel-WS2812-RMT"]
	path = ext/ESP32-NeoPixel-WS2812-RMT
	url = https://github.com/JSchaenzle/ESP32-NeoPixel-WS2812-RMT.git
[submodule "ext/lib-BQ27421"]
	path = ext/lib-BQ27421
	url = https://github.com/svcguy/lib-BQ27421.git
